/* ! RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}

li {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* ! UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* ! PRODUCT CARD UTILS */

.product-sale {
  background-color: red;
  color: white;
  position: absolute;
  left: 0;
  bottom: 80px;
  padding: 3px 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.product-type {
  background-color: green;
  color: white;
  position: absolute;
  left: 60px;
  bottom: 80px;
  padding: 3px 12px;
  font-size: 0.9rem;
  font-weight: bold;
}

.product-type.no-sale {
  left: 0;
}

.add-to-wishlist {
  background-color: white;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 2rem;
  padding: 0 10px;
}

.product-brand {
  font-size: 0.9rem;
}

.product-description {
  font-weight: bold;
}

.product-price {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  color: red;
}

.product-initial-price {
  display: inline-block;
  text-decoration: line-through;
  color: black;
  font-size: 0.9rem;
}

/* ! HOVER UTILS */

.hover-img {
  display: none;
}

.product-card:hover > .base-img {
  display: none;
}

.product-card:hover > .hover-img {
  display: inline;
}

.add-to-wishlist:hover {
  color: red;
  cursor: pointer;
}

/* ! PAGE HEADER */

.page-header {
  background-color: #ff6900;
  padding: 15px;
  border-bottom: 2px solid #e7e7e5;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.page-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-nav li,
.header-right-nav li {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 0 5px;
}

.header-left-nav,
.header-right-nav {
  width: 300px;
}

.header-left-nav {
  font-size: 0.9rem;
}

.header-right-nav {
  text-align: right;
}

.header-logo {
  width: 160px;
}

/* ! MAIN SECTION */

.product-card {
  width: 300px;
  margin: 20px;
  position: relative;
  cursor: pointer;
}

.product-card-section > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 1200px;
}

/* ! FOOTER */

.footer {
  background-color: #1a1a1a;
  color: white;
  margin-top: 20px;
  padding: 30px;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
}

.left-footer > div {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.right-footer > div {
  font-weight: bold;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.footer-left-nav li,
.footer-right-nav li {
  display: inline-block;
}

.footer-left-nav li {
  font-size: 0.9rem;
  margin-right: 5px;
}

.footer-right-nav li {
  font-size: 1.3rem;
  margin-left: 5px;
}
